.screen .playing-error-bar { top:45%; left:300px; width: 1320px; line-height: normal; height: auto; padding: 20px; z-index: 0; white-space: nowrap; overflow: hidden; }

#player-screen #tv-infobar { width: 1760px; height: auto; position:absolute; bottom: 80px; left: 80px; }
#player-screen #tv-infobar #player-company-logo { background-color: rgba(5, 26, 49, 1.0); border-radius: 10px;
    width: fit-content; height: fit-content; max-width: 350px; max-height: 60px; margin-bottom: 10px; }
#player-screen #tv-infobar #player-company-logo img { margin-left: 40px; margin-right: 40px; margin-top: 10px; margin-bottom: 0px; height: 37px; }
#player-screen #tv-infobar #block-tv-info { background-color: rgba(5, 26, 49, 1.0); border-radius: 10px; height: 286px; width: 100%; text-align: left; }

#player-screen #navigation-splitter { width:20px; height: 1px; }
#player-screen #navigation-panel { background-color: rgba(9, 30, 54, 1); border-radius: 10px; margin: 10px;}
/*#player-screen #navigation-panel { background-color: rgba(5, 26, 49, 1); border-radius: 10px; margin: 10px;}*/
#player-screen #navigation-panel ul { list-style: none; width:100%; height: 100px; padding: 0; margin: 0; }
#player-screen #navigation-panel li { display: inline; padding-left: 0px; }
#player-screen #navigation-panel li div { float:left; margin-top: 20px; margin-left: 40px; height: 60px; width:60px; background-color: transparent;
    border-radius: 8px; text-align: center; }

#player-screen #navigation-panel li .settings { background: url(../assets/img/nav_settings.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .multiaudio { background: url(../assets/img/nav_multiaudio.png) no-repeat 9px 10px; }
#player-screen #navigation-panel li .multiaudio_disabled { background: none; }
#player-screen #navigation-panel li .favorites { background: url(../assets/img/nav_favorites.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .favorites.marked { background: url(../assets/img/nav_favorites_marked.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .rew { background: url(../assets/img/nav_rew.png) no-repeat 8px 10px; }
#player-screen #navigation-panel li .rew_disabled { margin-left: 450px; background: url(../assets/img/nav_rew_disabled.png) no-repeat 8px 10px; }
#player-screen #navigation-panel li .pause { margin-left: 300px; background: url(../assets/img/nav_pause.png) no-repeat 18px 10px; }
#player-screen .vod #navigation-panel li .pause { margin-left: 440px; }
#player-screen #tv-infobar.vod #navigation-panel li .pause { margin-left: 440px; }
#player-screen #tv-infobar.vod #infobar-channel-number { width: 50px; }
#player-screen #tv-infobar.vod #infobar-channel-name { width: 1493px; }
#player-screen #tv-infobar.vod #infobar-program-name { width: 1493px; }
#player-screen #tv-infobar.vod #navigation-panel li .pause { margin-left: 440px; }
#player-screen #tv-infobar.vod #navigation-panel li .play { margin-left: 440px; }
#player-screen #tv-infobar.vod #navigation-panel li.selected .pause { margin-left: 440px; }
#player-screen #tv-infobar.vod #navigation-panel li.selected .play { margin-left: 440px; }
#player-screen #tv-infobar.vod #navigation-panel li .stop { background: url(../assets/img/nav_stopvod.png) no-repeat 10px 10px; }
#player-screen #tv-infobar.vod #navigation-panel li.selected .stop { background: url(../assets/img/nav_stopvod_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li .pause_disabled { margin-left: 300px; background: url(../assets/img/nav_pause_disabled.png) no-repeat 18px 10px; }
#player-screen #navigation-panel li .play { margin-left: 300px; background: url(../assets/img/nav_play.png) no-repeat 18px 10px; }
#player-screen .vod #navigation-panel li .play { margin-left: 440px; }
#player-screen #navigation-panel li .play_disabled { margin-left: 300px; background: url(../assets/img/nav_play_disabled.png) no-repeat 18px 10px; }
#player-screen #navigation-panel li .fwd { background: url(../assets/img/nav_fwd.png) no-repeat 8px 10px; }
#player-screen #navigation-panel li .fwd_disabled { background: url(../assets/img/nav_fwd_disabled.png) no-repeat 8px 10px; }
#player-screen #navigation-panel li .stop { background: url(../assets/img/nav_stop.png) no-repeat 10px 10px; width: 102px; }
#player-screen .vod #navigation-panel li .stop { background: url(../assets/img/nav_stopvod.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .stop_disabled { /*background: url(../assets/img/nav_stop_disabled.png) no-repeat 7px 10px;*/ width: 102px; }
#player-screen #navigation-panel li .tvchannels { margin-left: 400px; background: url(../assets/img/nav_tvchannels.png) no-repeat 7px 10px; }
#player-screen #navigation-panel li .vodlist { margin-left: 500px; background: url(../assets/img/nav_tvchannels.png) no-repeat 7px 10px; }
#player-screen #navigation-panel li .epg { background: url(../assets/img/nav_epg.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .mainmenu { background: url(../assets/img/nav_mainmenu.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .info { background: url(../assets/img/nav_info.png) no-repeat 10px 10px; }
#player-screen #navigation-panel li .mycontent { background: url(../assets/img/nav_mycontent.png) no-repeat 10px 10px; width: 181px; }

#player-screen #navigation-panel li.selected .settings { background: url(../assets/img/nav_settings_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .multiaudio { background: url(../assets/img/nav_multiaudio_selected.png) no-repeat 9px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .multiaudio_disabled { background: none; }
#player-screen #navigation-panel li.selected .favorites { background: url(../assets/img/nav_favorites_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .favorites.marked { background: url(../assets/img/nav_favorites_marked_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .rew { background: url(../assets/img/nav_rew_selected.png) no-repeat 8px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .pause { margin-left: 300px; background: url(../assets/img/nav_pause_selected.png) no-repeat 18px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .play { margin-left: 300px; background: url(../assets/img/nav_play_selected.png) no-repeat 18px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .fwd { background: url(../assets/img/nav_fwd_selected.png) no-repeat 8px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .stop { background: url(../assets/img/nav_stop_selected.png) no-repeat 10px 10px; background-color: #18bbcc; width: 102px; }
#player-screen .vod #navigation-panel li.selected .stop { background: url(../assets/img/nav_stopvod_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .tvchannels { margin-left: 400px; background: url(../assets/img/nav_tvchannels_selected.png) no-repeat 7px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .vodlist { margin-left: 500px; background: url(../assets/img/nav_tvchannels_selected.png) no-repeat 7px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .epg { background: url(../assets/img/nav_epg_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .mainmenu { background: url(../assets/img/nav_mainmenu_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .info { background: url(../assets/img/nav_info_selected.png) no-repeat 10px 10px; background-color: #18bbcc; }
#player-screen #navigation-panel li.selected .mycontent { background: url(../assets/img/nav_mycontent_selected.png) no-repeat 10px 10px; background-color: #18bbcc; width: 181px; }

#player-screen #infobar-common-info { clear: both; margin-top:10px; margin-left:10px; margin-right:10px;}
#player-screen #infobar-channel-icon { width: 147px; height: 147px; float:left; }
#player-screen #infobar-channel-icon img { width: 100%; height: 100%; }
#player-screen #infobar-channel-number { width: 100px; height: 80px; float:left; text-align:center; }
#player-screen .vod #infobar-channel-number { width: 50px; }
#player-screen #infobar-channel-name {
  width: 1000px;
  height: 80px;
  line-height: 80px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
}

#player-screen #infobar-program-name {
  clear: left;
  margin-left: 157px;
  margin-top: -30px;
}

#player-screen #tv-infobar.vod #infobar-program-name {
  margin-left: 157px;
}

#player-screen #infobar-program-time { font-size: 30px; width: 130px; height:50px; line-height:50px; float: left; text-align: left; margin-left: 70px;}
#player-screen #infobar-program-duration { float: left; line-height: 50px; font-size: 30px; text-align: left; margin-left: 30px; }
#player-screen #infobar-progress-info { width: 1200px; height: 50px; float:left; position: relative; }
#player-screen #infobar-progress-info #infobar-program-total { width: 100%; height: 8px; background-color: #f7f7f7; position: absolute; top: 21px; }
#player-screen #infobar-progress-info #infobar-program-progress { width: 0%; height: 8px; background-color: #ef341d; position: absolute; top: 21px; }
#player-screen #infobar-progress-info #infobar-program-pin { width: 50px; height: 50px; background-color: #ef341d; border-radius:25px; position: absolute; top: 0px; left: 0px;}

/*new player ffwd styles */
#player-screen #tv-fwdbar { width: 1760px; position:absolute; bottom: 80px; left: 80px; }
#player-screen #tv-fwdbar #infobar-common-fwd { background-color: rgba(5, 26, 49, 1.0); border-radius: 10px; height: 115px; width: 100%; text-align: left; padding-top: 20px; padding-bottom: 20px; }
#player-screen #infobar-program-name-fwd { width: 1480px; height: 50px; margin-left:200px; white-space: nowrap; overflow: hidden; }
#player-screen #infobar-program-time-fwd { font-size: 30px; width: 130px; height:50px; line-height:50px; float: left; text-align: left; margin-left: 70px;}
#player-screen #infobar-program-duration-fwd { float: left; line-height: 50px; font-size: 30px; text-align: left; margin-left: 30px; }
#player-screen #infobar-progress-fwd { width: 1200px; height: 50px; float:left; position: relative; }
#player-screen #infobar-progress-fwd #infobar-program-total-fwd { width: 100%; height: 8px; background-color: #f7f7f7; position: absolute; top: 21px; }
#player-screen #infobar-progress-fwd #infobar-program-progress-fwd { width: 0%; height: 8px; background-color: #ef341d; position: absolute; top: 21px; }
#player-screen #infobar-progress-fwd #infobar-program-pin-fwd { width: 50px; height: 50px; background-color: #ef341d; border-radius:25px; position: absolute; top: 0px; left: 0px;}
/*end of new player ffwd styles */
#epg-screen #epg-category { float:left; padding-left: 20px; width: 430px; height: 65px; line-height: 65px; margin-bottom: 10px;}
#epg-screen #epg-channel-name { float:left; padding-left: 20px; width: 830px; height: 65px; line-height: 65px; margin-left: 10px; margin-bottom: 10px; }
#epg-screen #epg-channel-description { float:right; padding-left: 20px; width: 420px; height: 65px; line-height: 65px; margin-left: 10px; margin-bottom: 10px;}

#epg-screen .days { float:left; width: 450px; height: 665px; }
#epg-screen .days ul li { width: 408px; height: 80px; line-height: 80px; }
#epg-screen .days ul li.selected { background: url(../assets/img/nav_right.png) no-repeat 385px 19px; }
#epg-screen .days ul.selected li.selected { background: url(../assets/img/nav_right_selected.png) no-repeat 385px 19px;
    background-color: #18bbcc; color: #161616; }

#epg-screen .epg { float:left; width: 850px; height: 665px; margin-left: 10px; }
#epg-screen .epg ul li { clear:both; width: 817px; height: 80px; padding-left:13px; }
#epg-screen .epg ul li div { display: inline-block; }
#epg-screen .epg ul li.selected { background-color: transparent;}
#epg-screen .epg .epg-program-record { float:left; height: 60px; width: 57px; }
#epg-screen .epg ul li div.has-record { background: url(../assets/img/epg_record.png) no-repeat 17px 17px; }
#epg-screen .epg ul li div.myrecord { background: url(../assets/img/epg_myrecord.png) no-repeat 0px 17px; }
#epg-screen .epg ul.selected li.selected div.has-record { background: url(../assets/img/epg_record_selected.png) no-repeat 17px 17px; }
#epg-screen .epg ul.selected li.selected div.myrecord { background: url(../assets/img/epg_myrecord_selected.png) no-repeat 0px 17px; }

#epg-screen .epg ul li div.active-record { background: url(../assets/img/epg_record_active.png) no-repeat 17px 17px; }
#epg-screen .epg ul li div.active-record.myrecord { background: url(../assets/img/epg_myrecord_active.png) no-repeat 0px 17px; }
#epg-screen .epg ul.selected li.selected div.active-record.myrecord { background: url(../assets/img/epg_myrecord_active.png) no-repeat 0px 17px; }
#epg-screen .epg ul li div.locked { background: url(../assets/img/locked.png) no-repeat 10px 25px; }
#epg-screen .epg ul.selected li.selected div.locked { background: url(../assets/img/locked.png) no-repeat 10px 25px; }

#epg-screen .epg .epg-program-time { float:left; height: 80px; width: 90px; line-height: 80px; }
#epg-screen .epg .epg-program-name { float:left; margin-left: 10px; height: 80px; width: 640px; line-height: 80px; white-space: nowrap; overflow: hidden; }
#epg-screen .epg ul.selected li.selected .epg-program-name { width: 615px; }

#epg-screen ul.selected li.selected { background: url(../assets/img/nav_right_selected.png) no-repeat 790px 20px; background-color: #18bbcc; color: #161616; }

#epg-screen .program-details { float:right; width:440px; height: 665px; margin-left: 10px; }
#epg-screen #program-data { margin: 20px; }
#epg-screen #program-data .text-data { height: 580px; overflow:hidden; }
#epg-screen #program-data .text-data .program-channel {}
#epg-screen #program-data .text-data .program-timestart { font-size: 30px; }
#epg-screen #program-data .text-data .program-name { font-size: 30px; margin-top: 20px; }
#epg-screen #program-data .text-data .program-subtitle { font-size: 25px; }
#epg-screen #program-data .text-data .program-description { height: 210px; overflow:hidden; font-size: 25px; margin-top: 10px; }
#epg-screen #program-data .program-rating { float: right; font-size: 25px; }

#epg-screen #program-data .program-image { height: 0px; text-align:center; }
/*#epg-screen #program-data .program-image .image { height:100%; }*/
#epg-screen #program-data .program-image .loading { margin: 30px 0px; }
#sepg-screen { text-align: center; }
#sepg-screen #sepg-menu-list { list-style: none; padding: 0; margin: 0 auto; width: 1540px; overflow: hidden; }
#sepg-screen #sepg-block-title { margin-left: 35px; margin-top:700px; height: 70px; line-height: 70px; text-align: left;}
#sepg-screen #sepg-container { height: 150px; }
#sepg-screen #sepg-container .bottom { float:left; margin:0; }
#sepg-screen .left { width: 70px; }
#sepg-screen .left img { height: 50px; margin-top:50px; }
#sepg-screen .right { width: 70px; }
#sepg-screen .right img { height: 50px; margin-top:50px; }

#sepg-screen li { float:left; background-color: rgba(5, 26, 49, 1.0); border-radius: 10px;
    width: 480px; height: 110px; margin:0px 10px; padding: 20px; text-align: left; }
#sepg-screen li.selected { background-color: #18bbcc; color: #161616; }

#sepg-screen .sepg-image { float:left; position: relative; }
#sepg-screen .sepg-image .absolute_img { position: relative; top:0; left:0; height: 110px; width: 110px; }
#sepg-screen .sepg-image .absolute_play { position: absolute; top:20px; left:20px; height: 70px; width: 70px; }
#sepg-screen .sepg-name { float:left; width: 335px; margin-left: 25px; font-size: 33px; line-height: 33px; height: 100px; overflow: hidden; }
#sepg-screen .sepg-line { float:left; width: 335px; margin-left: 25px; margin-top: 7px; height:3px; background-color: #ffffff; }
#sepg-screen .sepg-line-inner { float:left; width: 0%; height:3px; background-color: #ed361f; }
#sepg-screen .sepg-arrow { width: 28px; }

#sepg-screen #sepg-container-loading { height: 150px; }
#sepg-screen #sepg-container-loading ul { list-style: none; padding: 0; margin: 0 auto; width: 1540px; overflow: hidden; }
#sepg-screen #sepg-container-loading li {
  float: left; background-color: rgba(5, 26, 49, 1); border-radius: 10px;
  width: 480px; height: 110px; margin: 0 10px; padding: 20px;
}
#sepg-screen #sepg-container-loading .loading { width: 100%; height: 100%; text-align: center; }
#sepg-screen #sepg-container-loading .loading img { margin-top: 40px; }

#epg-screen .list.days,
#epg-screen .list.epg,
#epg-screen .list.program-details { height: 665px; }

#epg-screen .epg-headers { overflow: hidden; }
#epg-screen .epg-headers .header { float: left; }

